.ion_alpha_list_outer .list{
	padding-right: 15px;
}
.ion_alpha_list_outer .item{
	border-right: none;
}
.ion_alpha_sidebar{
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
}
.ion_alpha_sidebar li{
	line-height: 1.1;
}